/**
 * The IdoMysqlConnection type implements MySQL support
 * for DB IDO.
 */

object IdoMysqlConnection "ido-mysql" {
  //user = "{{ icinga2db_user }}"
  //password = "{{ icinga2db_password }}"
  //host = "localhost"
  //database = "{{ icinga2db_name }}"
}
